services:

  # minecraft:
  #   image: "itzg/minecraft-server"
  #   environment:
  #     EULA: TRUE
  #     TYPE: "PAPER"
  #   volumes:
  #     - "./data:/data"
  #   ports:
  #     - "25566:25565"

  minecraftrouter:
    build: .
    image: "ghcr.io/abandontech/minecraftrouter:local"
    env_file:
      - .env
    volumes:
      - "./routing.json:/routing.json"
    ports:
      - "25565:25565"
