name: Linting

on:
  workflow_call

jobs:
  lint:
    name: Runs golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: '1.20'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
